@import 'src/ad-products/styles/styles.scss';
@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/porvata';

@include logo-replacement(48px);

.gdm__wrapper {
	text-align: center;
}

.slideout-open {
	#cdm-zone-01 {
		display: none;
	}
}

@mixin ucp-muthead-uap-styles() {
	.desktop {
		@include uap-porvata-right-position();

		#cdm-zone-01 {
			.video-player {
				transform: translateX(0);
			}
		}
	}

	.has-uap {
		#cdm-zone-01 {
			@include bfaa-slot();
			@include sticky-tlb-slot();
		}

		#cdm-zone-04 {
			@include bfab-slot();
		}

		#cdm-zone-01,
		#cdm-zone-04 {
			@include uap-porvata();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	@include expanded-slot();

	.has-uap {
		padding-top: 0 !important;

		#cdm-zone-01 {
			margin-top: 0;

			.video-player,
			.replay-overlay {
				top: 0;
			}
		}

		.header-container {
			position: absolute;
			width: 100vw;

			&.bfaa-pinned {
				position: absolute;
				opacity: 1 !important;
			}
		}
	}
}

@include ucp-muthead-uap-styles();
