.idea
.nyc_output
env/
previous-package.json
coverage
examples/**/dist/*
node_modules
npm-debug.log

tests/allure-results/*
!tests/allure-results/categories.json
!tests/allure-results/environment.xml
spec/build
tests/config.json
tests/.wdio
tests/screenshots/*
!tests/screenshots/reference
allure-report
