.idea
.nyc_output
.rpt2_cache
env/
dist/
previous-package.json
coverage
examples/**/dist/*
node_modules
npm-debug.log
.npm_cache/

tests/allure-results/*
!tests/allure-results/categories.json
!tests/allure-results/environment.xml
spec/build
tests/config.json
tests/errorScreenshots
tests/screenshots/*
!tests/screenshots/reference
allure-report
