@mixin sponsored-text-logo() {
	.sponsored-text-logo {
		padding-bottom: 13px;
		text-align: center;
		width: 100%;

		.title-container {
			align-items: center;
			display: flex;
			margin-bottom: 4px;

			.title-line {
				border-color: #5f7a7b;
				flex-grow: 1;
			}

			.promo-title {
				font-size: 8px;
				font-weight: bold;
				text-transform: uppercase;
				line-height: 15px;
				margin: 0 13px;
				overflow: hidden;
				white-space: nowrap;
			}
		}

		.promo-text,
		.promo-text a {
			color: inherit;
			font-size: 12px;
			line-height: 17px;
			margin-bottom: 8px;
			overflow: hidden;
			text-decoration: none;
			white-space: nowrap;
		}
	}
}
