@mixin sponsored-text-logo() {
	.sponsored-text-logo {
		width: 100%;
		text-align: center;
		padding-bottom: 13px;

		.title-container {
			display: flex;
			margin-bottom: 8px;
			align-items: center;

			.title-line {
				flex-grow: 1;
				border-color: #5f7a7b;
			}

			.promo-title {
				white-space: nowrap;
				overflow: hidden;
				font-size: 8px;
				font-weight: bold;
				text-transform: uppercase;
				margin: 0 13px 0 13px;
				line-height: 15px;
			}
		}

		.promo-text {
			font-size: 12px;
			line-height: 17px;
			margin-bottom: 13px;
		}
	}
}
