@import 'src/ad-products/styles/mixin';
@import 'src/ad-products/styles/breakpoints';
@import 'src/ad-products/styles/uap-variables';
@import 'src/ad-products/styles/porvata';
@import './styles/advertisement-label';
@import './styles/bottom-panel';
@import './styles/button-close';
@import './styles/fullscreen-control';
@import './styles/navbar';
@import './styles/progress-bar';
@import './styles/porvata-icons';

.has-uap {
	.WikiaSiteWrapper {
		margin-top: 0;
	}

	#top_leaderboard,
	#hivi_leaderboard {
		z-index: 202;
		padding: 0;
		left: 0;
		top: 0;
		position: fixed;

		@include bfaa-bfab-overlay;
	}

	#bottom_leaderboard {
		z-index: 201;
		position: relative;

		@include bfaa-bfab-overlay;
	}

	#top_leaderboard,
	#hivi_leaderboard,
	#bottom_leaderboard {
		.video-overlay {
			position: absolute;
		}

		.video-display-wrapper {
			height: 100%;
			position: relative;
			width: 100%;
		}

		.video-player {
			right: 0;
		}

		.video-overlay,
		.replay-overlay {
			@include bfaa-bfab-hivi-right-position;
		}

		.porvata-interface {
			@include bottom-panel();
			@include fullscreen-button();
			@include porvata-icons($hivi-uap-button-size, $hivi-uap-light-button-color);
			@include progress-bar(
				$hivi-uap-progress-bar-height,
				$hivi-uap-progress-bar-color,
				$hivi-uap-progress-bar-current-time-color
			);
		}

		@include advertisement-label();
		@include button-close();

		&.is-dark {
			@include uap-dark-theme();
		}

		&.sticky-tlb {
			background: #000;
			padding: 18px 0 0 0;
			width: 100%;
			box-sizing: border-box;

			& .advertisement-label {
				color: #5f7a7b;
				position: static;
				text-align: center;
			}
		}
	}
}

.gpt-ad {
	&.hide,
	& .hide {
		display: none !important;
	}

	& > div > iframe {
		display: block;
		margin: 0 auto;
	}

	&.expanded-slot {
		width: 100%;

		& > div.iframe-container,
		& > div.iframe-container > iframe {
			height: 100%;
			width: 100%;
		}

		&.hide,
		& .hide {
			display: none !important;
		}
	}
}

@include navbar();

// #######################################

.main-page-tag-rcs {
	display: flex;
	flex-direction: column;
}

#top_leaderboard {
	text-align: center;

	> div {
		text-align: center;
	}
}

#bottom_leaderboard {
	margin-top: 20px;
	margin-bottom: 23px;

	> div {
		text-align: center;
	}
}

#invisible_skin {
	display: none !important;
}
