/* WARNING */
/* Those styles were copied from F2 repository */
/* They are marked to be moved to DS */
/* When it happens import them from there and delete what is here */

@import 'wds-breakpoints.scss';
@import 'wds-grid.scss';

$fandom-font-weight-light: 300;
$fandom-font-weight-regular: 400;
$fandom-font-weight-medium: 500;
$fandom-font-weight-bold: 700;
$fandom-font-weight-black: 900;
