@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/mixin';

@mixin ucp-minerva-uap-styles() {
	.has-uap {
		.header-container {
			@include uap-navbar();
		}

		#top_leaderboard {
			@include bfaa-slot();
			@include sticky-tlb-slot();
		}

		#bottom_leaderboard {
			@include bfab-slot();
		}

		#top_leaderboard,
		#bottom_leaderboard {
			@include uap-porvata();
			@include uap-porvata-learn-more();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	@include expanded-slot();
}

@include ucp-minerva-uap-styles();

// #######################################

.gpt-ad {
	text-align: center;

	&#top_leaderboard {
		bottom: 0;
		margin: 0 auto;
		position: fixed;
		width: 100%;
		z-index: 999999 !important;
	}

	&#footer_boxad {
		margin: 10px auto;
	}

	&.hide {
		display: none;
	}
}

html.disable-ads {
	.gpt-ad {
		display: none;
	}
}

.editor-overlay .gpt-ad {
	display: none;
}
