#player {
	background: url('./play.svg') no-repeat 50% 50% #333;
	background-size: 30% 30%;
	cursor: pointer;
	height: 250px;
	margin: 0 auto;
	width: 300px;
}

.controls {
	font-size: 0.9em;
	font-weight: bold;
	margin-left: 50%;
	text-align: right;
	transform: translateX(-50%);
	width: 300px;
}

.icon {
	cursor: pointer;
	margin-left: 10px;
}
