$uap-video-animation-duration: 0.4s;
$uap-video-animation-long-duration: 0.6s;

$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);

.gpt-ad.bfaa-template.sticky-bfaa {
	background: #FFF;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 5000101;
	top: 0;
	backface-visibility: hidden;
}

.sticky-template {
	@keyframes slideOut {
		from { transform: translateY(0); }
		to { transform: translateY(-100%); }
	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	.slide-out {
		// Animation time is defined also in JS, remember to change it in both places
		animation: slideOut $uap-video-animation-long-duration $ease-in-cubic forwards;
	}

	.fade-in {
		// Animation time is defined also in JS, remember to change it in both places
		animation: fadeIn $uap-video-animation-duration $ease-in-cubic;
	}

	&.sticky-slot {
		& > div {
			padding: 0;
			position: fixed;
			z-index: 5000000;
			top: 0;
			backface-visibility: hidden;
		}
	}
}
