$stickiness-animation-duration: 0.4s;
$stickiness-animation-long-duration: 0.6s;

$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);

.gpt-ad.bfaa-template.sticky-bfaa {
	background: #FFF;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 5000101;
	top: 0;
	backface-visibility: hidden;
}

.sticky-template {
	position: relative;

	@keyframes slideOut {
		from { transform: translateY(0); }
		to { transform: translateY(-100%); }
	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	.slide-out {
		// Animation time is defined also in JS, remember to change it in both places
		animation: slideOut $stickiness-animation-long-duration $ease-in-cubic forwards;
	}

	.fade-in {
		// Animation time is defined also in JS, remember to change it in both places
		animation: fadeIn $stickiness-animation-duration $ease-in-cubic;
	}

	&.sticky-slot {
		& > div {
			padding: 0;
			position: fixed !important;
			z-index: 5000000;
			top: 0;
			backface-visibility: hidden;
		}
	}

	.button-unstick {
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 3px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;

		.icon {
			width: 16px;
			height: 16px;
			color: #FFF;
			fill: #FFF;
			opacity: 1;
			filter: drop-shadow(0px 0px 2px #000);
		}
	}
}
