@import '_breakpoints';
@import '_mixin';
@import './uap-variables';

.gpt-ad.bfaa-template,
.gpt-ad.bfab-template {
	display: block;
	transform: translateZ(0);

	@keyframes slideOut {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-100%);
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&.slide-out {
		// Animation time is defined also in JS, remember to change it in both places
		animation: slideOut $uap-video-animation-long-duration $ease-in-cubic forwards;
	}

	&.fade-in {
		// Animation time is defined also in JS, remember to change it in both places
		animation: fadeIn $uap-video-animation-duration $ease-in-cubic;
	}

	& > div {
		padding: 0;
		position: relative;
		text-align: center;
		width: 100%;

		&::before {
			display: none;
		}
	}

	.video-player {
		line-height: normal;

		&.video-player-left,
		&.video-player-right {
			position: absolute !important;
			z-index: $uap-video-z-index;
		}

		&.video-player-fullscreen {
			position: fixed !important;
			top: 0;
			left: 0;
			z-index: $uap-video-fullscreen-z-index;
		}

		&.video-player-right {
			right: 0;
		}

		.progress-bar {
			background: $uap-progress-bar-color;
			bottom: 0;
			height: $uap-progress-bar-height;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 2;
		}

		.current-time {
			background: $uap-progress-bar-current-time-color;
			height: 100%;
			max-width: 100%;
			width: 0;
			transition: width linear;
		}
	}

	button {
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 0;
	}

	&:not(.sticky-iab) iframe {
		@include absolute-fill();
	}

	&.porvata .video-player > iframe,
	&.mobile-porvata .video-player > iframe {
		display: none;
	}

	& .porvata-video {
		background-color: transparent !important;
	}

	.button-unstick {
		display: none;
		padding: $hivi-uap-button-border-space;
		position: absolute;
		top: 0;
		right: 0;
		z-index: $uap-video-z-index;

		@media #{$breakpoint-m-up} {
			right: 17px;
		}
	}

	&.sticky-bfaa .button-unstick,
	&.sticky-bfab .button-unstick {
		display: block;
	}

	.replay-overlay,
	.pause-overlay {
		cursor: pointer;
		height: 100%;
		position: absolute;
		z-index: 1;
	}

	.replay-overlay {
		background: $uap-replay-overlay-color url($player-button-play) center/8% no-repeat;
		display: none;
	}

	.pause-overlay {
		top: 0;
		width: 100%;
	}

	.close-ad {
		cursor: pointer;
		position: absolute;
		right: 0;
		z-index: 1;
		background: url($player-button-collapse);
		height: $player-button-size;
		margin: $player-button-border-space $player-button-click-area-mobile;
		top: 0;
		width: $player-button-size;

		@media #{$breakpoint-m-up} {
			margin: $player-button-click-area-desktop $player-button-click-area-desktop;
		}
	}

	.bottom-panel {
		position: absolute;
		bottom: $uap-progress-bar-height;
		right: 0;
		text-align: right;
		z-index: 1;

		> div {
			cursor: pointer;
			display: inline-block;
			padding: $player-button-border-space $player-button-click-area-mobile;
			vertical-align: top;

			@media #{$breakpoint-m-up} {
				padding: $player-button-click-area-desktop $player-button-click-area-desktop;
			}
		}
	}

	.dynamic-panel {
		bottom: 8px;
		display: none;
		pointer-events: none;
		right: 0;
		text-align: left;
		width: 100%;
		z-index: 3;

		& > div {
			pointer-events: all;
		}
	}

	.toggle-ui-overlay {
		cursor: pointer;
		height: 100%;
		position: absolute;
		top: 0;
		user-select: none;
		width: 100%;
		z-index: 1;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
	}

	.toggle-fullscreen-button {
		float: right;
		opacity: 0.75;
	}

	.play-pause-button {
		opacity: 0.75;
	}

	.volume-button {
		opacity: 0.9;
	}

	.button-control {
		height: auto;
		line-height: normal;
	}

	.button-control .icon,
	.porvata-icon {
		cursor: pointer;
		fill: $uap-button-color;
		height: $player-button-size;
		overflow: hidden;
		width: $player-button-size;
	}

	.porvata-switchable-icon {
		.porvata-off-icon {
			display: none;
		}

		&.is-on {
			.porvata-off-icon {
				display: inline-block;
			}

			.porvata-on-icon {
				display: none;
			}
		}
	}

	.learn-more {
		color: #fff;
		cursor: pointer;
		display: none;
		position: absolute;
		opacity: 0.75;
		right: 0;
		top: 0;
		z-index: $uap-video-fullscreen-z-index + 1;
	}

	.advertisement-label {
		color: #fff;
		font-size: 9px;
		font-weight: bold;
		height: auto;
		left: 0;
		letter-spacing: 0.5px;
		line-height: 9px;
		opacity: 0.75;
		padding: 6px;
		position: absolute;
		text-transform: uppercase;
		top: 0;
		width: auto;
		z-index: $uap-video-fullscreen-z-index + 1;
	}

	.button-unstick .icon {
		width: $hivi-uap-mobile-button-size;
		height: $hivi-uap-mobile-button-size;

		@media #{$breakpoint-m-up} {
			width: $hivi-uap-button-size;
			height: $hivi-uap-button-size;
		}
	}

	&.is-mobile-device .advertisement-label {
		font-size: 6px;
		line-height: 6px;
		padding: 5px;
	}

	&.is-mobile-device .learn-more {
		display: unset;
	}

	&.theme-hivi {
		.ui-visible {
			.toggle-ui-overlay {
				background: linear-gradient(
					to top,
					rgba(0, 0, 0, 1) 0%,
					rgba(0, 0, 0, 0.7) 15%,
					rgba(0, 0, 0, 0) 30%
				);
			}

			.dynamic-panel {
				display: block;
			}
		}

		.fading {
			opacity: 0;
			transition: opacity 1s linear;
		}

		.advertisement-label,
		.button-control .icon,
		.porvata-icon {
			box-sizing: content-box;
			-webkit-box-sizing: content-box;
			color: $hivi-uap-light-button-color;
			fill: $hivi-uap-light-button-color;
			opacity: 1;
		}

		.button-control .icon,
		.porvata-icon {
			height: $hivi-uap-button-size;
			width: $hivi-uap-button-size;
		}

		.advertisement-label,
		.learn-more,
		.play-pause-button,
		.toggle-fullscreen-button,
		.volume-button {
			opacity: 0.95;
		}

		.learn-more {
			color: #fff;
			right: 25px;

			& > div {
				display: block;
				font-size: 12px;
				margin-right: 30px;
				margin-top: 5px;
			}

			.learn-more-icon {
				height: $hivi-uap-button-size - 4px;
				position: absolute;
				right: 0;
				top: 0;
				width: $hivi-uap-button-size - 4px;
			}
		}

		.progress-bar {
			background: $hivi-uap-progress-bar-color;
			height: $hivi-uap-progress-bar-height;
		}

		.current-time {
			background: $hivi-uap-progress-bar-current-time-color;
		}

		.bottom-panel > div,
		.learn-more-icon {
			padding: $hivi-uap-player-button-border-space $player-button-click-area-mobile;

			@media #{$breakpoint-m-up} {
				padding: $hivi-uap-player-button-border-space $player-button-click-area-desktop;
			}
		}

		&.theme-resolved .learn-more {
			display: none;
		}

		&.is-mobile-device.theme-video-fullscreen {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: $uap-video-fullscreen-z-index - 1;

			.learn-more {
				display: block;
			}
		}

		.video-player,
		.replay-overlay {
			right: 23.2%;
			transform: translateX(50%);
			top: 4%;
			height: 92%;
		}

		.video-player-fullscreen.video-player {
			right: 0;
			transform: none;
			// below line requires "!important" because we are setting
			// style.top on .video-player in-line in JavaScript (UAP:HiVi)
			// in order to control video/thumbnail position
			top: 0 !important;
			height: 100%;
		}
	}

	&.theme-split-right {
		.replay-overlay {
			right: 0;
		}
	}

	&.theme-split-left {
		.replay-overlay {
			left: 0;
		}
	}

	&.is-dark {
		@include uap-dark-theme();
	}

	&.is-mobile-layout .video-player {
		right: 0;
		top: auto;
		transform: none;
	}
}

body.ctp-vuap-loaded {
	transition: padding $uap-video-animation-duration ease;
}

.sticky-bfaa,
.sticky-bfab {
	// Hack: Force BFAA to repaint to fix issue with not visible slot on safari iOS
	animation: repaint 1ms;
	position: fixed;
	top: 0;
}

.gpt-ad.bfaa-template {
	height: auto;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	transition: height $uap-video-animation-duration ease;
	top: 0;

	&.theme-hivi:not(.theme-resolved):not(.sticky-bfaa),
	&.theme-hivi.theme-resolved:not(.theme-locked):not(.sticky-iab) {
		position: fixed;
		top: 0;
	}

	video {
		left: 0;
	}
}

.gpt-ad.bfab-template {
	max-width: 1024px;
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: height $uap-video-animation-duration ease;

	&.theme-hivi.sticky-bfab {
		position: fixed;
		top: 0;
	}

	video {
		left: 0;
	}
}

@media #{$breakpoint-l-up} {
	.gpt-ad.bfaa-template.on-animation,
	.gpt-ad.bfab-template.on-animation {
		background: #000;
	}
}

@keyframes repaint {
	0% {
		width: 99.999%;
	}
	100% {
		width: 100%;
	}
}
