@import 'src/ad-products/styles/styles.scss';

@include logo-replacement(30px);

.has-bfaa {
	padding-top: 0 !important;

	#content div#atflb {
		min-height: 0 !important;
		min-width: 0 !important;
	}

	#mobileatflb {
		position: relative;
		bottom: inherit;
	}

	.header-container {
		position: absolute;
		width: 100vw;

		&.bfaa-pinned {
			position: absolute;
			opacity: 1 !important;
		}
	}
}

#incontent_player {
	margin: 0 auto;
	z-index: 50;
}

// Desktop disable ads
html.disable-ads, body.hide-ads {
	#pageWrapper {
		#atflb,
		#btflb {
			display: none !important;
		}
	}

	footer#curse-footer div.ad-placement {
		display: none;
	}
}

// Mobile disable ads
.editor-overlay .gpt-ad {
	display: none;
}

// Fix mobile navbar width
.gpt-ad.bfaa-template.sticky-bfaa {
	width: 100vw;
}

// Fix mobile navigation gray area
.primary-navigation-enabled {
	margin-top: 0 !important;
}

.new-logo {
	padding-left: 6px;
}
