@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/porvata';

@include logo-replacement(40px);

.gdm__wrapper {
	text-align: center;
}

.slideout-open {
	#cdm-zone-01 {
		display: none;
	}
}

#cdm-zone-04 {
	margin: 15px auto;
}

@mixin ucp-futhead-uap-styles() {
	.navbar.navbar-futhead {
		@include uap-navbar();
	}

	.has-uap {
		#cdm-zone-01 {
			@include bfaa-slot();
			@include sticky-tlb-slot();

			&.is-mobile-layout .video-overlay {
				transform: translateZ(0);
			}
		}

		#cdm-zone-01,
		#cdm-zone-04 {
			@include uap-porvata();
			@include uap-porvata-right-position();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}

		#cdm-zone-04 {
			@include bfab-slot();
		}
	}

	@include expanded-slot();

	.mobile {
		#cdm-zone-04 {
			.video-overlay {
				transform: translateZ(0);
			}
		}
	}

	.site-futhead.has-uap {
		&.with-mobile-nav {
			.navbar.navbar-futhead.bfaa-pinned {
				position: fixed;
			}
		}

		&.fixed-page-nav {
			.page-navigation {
				position: unset;
				box-shadow: unset;
			}
		}

		.main-content.homepage,
		.content-header,
		.futhead-gdm {
			position: unset;
		}
	}
}

@include ucp-futhead-uap-styles();
