@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/porvata';

@include logo-replacement(40px);

.gdm__wrapper {
	text-align: center;
}

.slideout-open {
	.has-bfaa {
		background-color: #0d0f10;
	}

	#cdm-zone-01 {
		display: none;
	}
}

#cdm-zone-04 {
	margin: 15px auto;
}

@mixin ucp-futhead-uap-styles() {
	.has-uap {
		.navbar.navbar-futhead {
			@include uap-navbar();
		}

		.fixed-page-nav {
			.page-navigation {
				position: unset;
				box-shadow: unset;
			}
		}

		#cdm-zone-01 {
			@include bfaa-slot();
			@include sticky-tlb-slot();
		}

		#cdm-zone-04 {
			@include bfab-slot();
		}

		#cdm-zone-01,
		#cdm-zone-04 {
			@include uap-porvata();
			@include uap-porvata-learn-more();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}
	}

	@include expanded-slot();
}

@include ucp-futhead-uap-styles();
