@import 'src/ad-products/styles/mixin';
@import 'platforms/shared/styles/index';
@import 'src/ad-products/styles/porvata';

@include logo-replacement(40px);

.gdm__wrapper {
	text-align: center;
}

.slideout-open {
	.has-bfaa {
		background-color: #0d0f10;
	}

	#cdm-zone-01 {
		display: none;
	}
}

#cdm-zone-04 {
	margin: 15px auto;
}

@mixin ucp-futhead-uap-styles() {
	.navbar.navbar-futhead {
		@include uap-navbar();
	}

	.has-uap {
		.site-futhead {
			margin-top: 0;
		}

		#cdm-zone-01 {
			@include bfaa-slot();
			@include sticky-tlb-slot();

			&.is-mobile-layout .video-overlay {
				transform: translateZ(0);
			}
		}

		#cdm-zone-01,
		#cdm-zone-04 {
			@include uap-porvata();
			@include uap-porvata-right-position();

			@include uap-advertisement-label();
			@include uap-button-close();

			&.is-dark {
				@include uap-dark-theme();
			}
		}

		#cdm-zone-04 {
			@include bfab-slot();
		}
	}

	@include expanded-slot();

	.mobile {
		#cdm-zone-04 {
			.video-overlay {
				transform: translateZ(0);
			}
		}
	}
}

@include ucp-futhead-uap-styles();

.site-futhead.has-uap {
	&.with-mobile-nav {
		#cdm-zone-01 {
			display: none;
		}

		.navbar.navbar-futhead.bfaa-pinned {
			position: fixed;
		}
	}

	&.fixed-page-nav {
		.page-navigation {
			position: unset;
			box-shadow: unset;
		}
	}

	.header {
		min-height: 43px;
	}

	.site-header {
		margin-bottom: 0;
	}

	.navbar.navbar-futhead.bfaa-pinned {
		position: relative;
	}

	.main-content.homepage,
	.content-header,
	.futhead-gdm {
		position: unset;
	}

	.homepage .futhead-gdm,
	.futhead-gdm.headliner {
		min-height: 0;
		margin-bottom: 0 !important;
	}

	.gpt-ad.bfaa-template {
		max-width: 100vw;
	}
}
