<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Templates 2.0 - registry demo</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
		/>
		<link rel="stylesheet" href="../../vendor/dist/styles.css" type="text/css" />
		<script type="text/javascript" src="../../vendor/dist/vendor.js"></script>
		<script type="text/javascript">
			var googletag = window.googletag || {};
			googletag.cmd = googletag.cmd || [];

			(function() {
				var gads = document.createElement('script'),
					useSSL = 'https:' == document.location.protocol,
					node = document.getElementsByTagName('script')[0];

				gads.async = true;
				gads.type = 'text/javascript';
				gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
				node.parentNode.insertBefore(gads, node);
			})();
		</script>
	</head>
	<body>
		<script>
			window.adsQueue = window.adsQueue || [];
		</script>
		<nav class="navigation">navbar</nav>
		<header class="header">
			<div id="top_leaderboard" class="gpt-ad top-leaderboard"></div>
			<script>
				window.adsQueue.push({
					id: 'top_leaderboard',
				});
			</script>
		</header>
		<div class="wrapper">
			<article class="main">
				<h1>Templates 2.0 - registry demo</h1>
				<p>Showcases how to use TemplateRegistry with dependency injection.</p>
				<button id="init-button">Init</button>
				<button id="destroy-button">Destroy</button>
				<h2>Garbage Collector Test</h2>
				<h3>
					Chrome version:
				</h3>
				<ol>
					<li>In memory devtools take snapshot (filter "Handler")</li>
					<li>Click "Init" to start template.</li>
					<li>Observe states changing in the console.</li>
					<li>In memory devtools take snapshot (filter "Handler")</li>
					<li>There should be "FirstMockHandler" and "SecondMockHandler".</li>
					<li>Click "Destroy" to destroy template.</li>
					<li>Observe states should no longer change in this console.</li>
					<li>In memory devtools click "collect garbage"</li>
					<li>In memory devtools take snapshot (filter "Handler")</li>
					<li>"FirstMockHandler" and "SecondMockHandler" should be gone now.</li>
				</ol>
				<h3>
					Firefox version:
				</h3>
				<p>
					These template include a way to check if garbage collector works fine on handlers. We do
					that by creating WeakMap no `window.gcTest`. To that map we add instances of handlers. To
					test if handlers are still in memory simply print `window.gcTest` in the console, but DO
					NOT expand it, because browser will then keep reference and Garbage Collector won't pick
					them up.
				</p>
				<ol>
					<li>Confirm that there are no handlers in memory</li>
					<li>Click "Init" to start template.</li>
					<li>Observe states changing in the console.</li>
					<li>Confirm that there are 2 handlers in memory.</li>
					<li>Click "Destroy" to destroy template.</li>
					<li>Observe states should no longer change in this console.</li>
					<li>
						Force Garbage Collection (open a new tab `about:memory`, and click on `Free memory ->
						GC`).
					</li>
					<li>Confirm that there are no handlers in memory.</li>
				</ol>
			</article>
			<aside class="aside">
				<div id="rail-wrapper">
					<div id="rail">
						<div id="top_boxad" class="gpt-ad top-boxad"></div>
						<script>
							window.adsQueue.push({
								id: 'top_boxad',
							});
						</script>
						<div class="rail-module">rail module</div>
						<div id="incontent_boxad" class="incontent-boxad floating pinned-top hide"></div>
					</div>
				</div>
			</aside>
		</div>
		<footer>
			<div id="bottom_leaderboard" class="gpt-ad bottom-leaderboard hide"></div>
		</footer>
		<script type="text/javascript" src="./dist/bundle.js"></script>
	</body>
</html>
