@import 'src/ad-products/styles/styles.scss';

#incontent_player {
	margin: 0 auto;
	z-index: 50;
}

// Desktop disable ads
html.disable-ads {
	#pageWrapper {
		#atflb,
		#btflb {
			display: none !important;
		}
	}

	footer#curse-footer div.ad-placement {
		display: none;
	}
}

// Mobile disable ads
.editor-overlay .gpt-ad {
	display: none;
}

// Fix mobile navbar width
.gpt-ad.bfaa-template.sticky-bfaa {
	width: 100vw;
}

// Fix mobile navigation gray area
.primary-navigation-enabled {
	margin-top: 0 !important;
}
