@import 'src/ad-products/styles/mixin';
@import 'src/ad-products/styles/breakpoints';

.gpt-ad {
	&#top_leaderboard,
	&#bottom_leaderboard {
		text-align: center;
		padding: 5px 0;

		&.hide {
			display: none;
		}
	}
}
